{% extends "base.html.twig" %}

{% block titre %}
    Detail du souhait "{{ wish.titre }}"
{% endblock %}

{% block contenu %}
    <div><span style="font-weight:bold">Auteur :</span>&nbsp;{{ wish.auteur }}</div>
    <div><span style="font-weight:bold">Fait le :</span>&nbsp;{{ wish.dateCreated|date("d/m/Y") }}</div>
    <div><span style="font-weight:bold">Description :</span>&nbsp;{{ wish.description }}</div>
{% endblock %}