{% extends "base.html.twig" %}

{% block titre %}
    Ajout d'un souhait
{% endblock %}

{% block contenu %}
    <div class="container">
        <div class="col-6">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <br>
                <button type="submit" class="btn btn-dark">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>
    
{% endblock %}