{% extends "base.html.twig" %}

{% block titre %}
    Liste des souhaits
{% endblock %}

{% block contenu %}
    <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-dark"><h5>Bucket-List</h5></li>
    {% for w in wishes %}
        <li class="list-group-item list-group-item-action list-group-item-primary"><a href="{{ path('detail',{"id":w.id}) }}">{{w.titre}}</a></li>
    {% endfor %}
    </ul>
{% endblock %}